/* --- Cores principais --- */
:root {
    --verde-escuro: #046C4E;
    --verde-medio: #00A676;
    --fundo: #F5F5F5;
    --texto: #121212;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: var(--fundo);
}

.dashboard {
    display: flex;
    height: 100vh;
}

/* ================= SIDEBAR ================= */

.sidebar {
    background: var(--verde-escuro);
    width: 250px;
    padding: 30px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 0 20px rgba(0,0,0,0.15);
}

.sidebar-header { text-align: center; }

.avatar {
    width: 85px;
    height: 85px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px auto;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu button {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: white;
    color: var(--verde-escuro);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
}
.menu button:hover { background: var(--fundo); }

.logout-btn {
    padding: 12px;
    background: #D32F2F;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

/* ================= MAIN ================= */

.main-content {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.titulo-dashboard {
    color: var(--verde-escuro);
}

/* ================= CHARTS ================= */

.charts-row-medium {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 30px;
}

.charts-row-single {
    margin-top: 30px;
}

.chart-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.shadow {
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.chart-card h2 {
    color: var(--verde-escuro);
    margin-bottom: 12px;
}

.small-chart { max-height: 350px; }

.pizza-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pizza-legend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    color: var(--verde-escuro);
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.dot.verde { background: #00A676; }
.dot.verde-escuro { background: #046C4E; }
.dot.vermelho { background: #D32F2F; }

#statusReservasChart {
    max-width: 200px;
    max-height: 200px;
}


/* ================= LISTA ================ */

.last-reservations-full {
    margin-top: 40px;
    background: white;
    padding: 25px;
    border-radius: 15px;
}

.activity-list {
    list-style: none;
    padding: 0;
}

.activity-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
